@import "tailwindcss";

:root {
  --primary-bg: #111010;
  --primary-color: #fff;
  --font-family-proxima: 'Proxima Nova', sans-serif;
}

.typography-body1 {
  color: #fff;
  opacity: 0.92;
  font-family: "Proxima Nova", Arial, sans-serif;
  margin-bottom: 16px; 
}

.typography-h5 {
  color: #fff;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0%;
  margin-bottom: 0.35em; 
  font-size: 100; 
  line-height: 48; 
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.product-overlay {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(20%);
  background: rgba(0,0,0,0.92);
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px; 
  width: 90%;
  height: 90px;
  z-index: 1;
}

@media (min-width: 900px) {
  .product-overlay.overlay-0 { width: 450; height: 114; }
  .product-overlay.overlay-1 { width: 245; height: 114; }
  .product-overlay.overlay-2 { width: 250; height: 114; }
  .product-overlay.overlay-3 { width: 250; height: 114 ; }
}

.btn-dark {
  color: #fff; 
  border: 1px solid #111010;
  background-color: #111010; 
  font-weight: 700;
  font-family: var(--font-family-proxima);
  padding: 0.5rem 1.5rem;
  letter-spacing: 1px;
}

.btn-dark:hover {
  background-color: #333; 
  border-color: #111;
  
}


.btn-light {
  color: #000000; 
  background: #ffffff;
  border: 1px solid #ffffff;
  border-color: #ffffff;
  font-weight: 700;
  font-size: 16;
  font-family: var(--font-family-proxima);
  padding: 0.5rem 1.5rem;
  letter-spacing: 1px;
}


.btn-light:hover {
  background: #fefdfd;
  
}


.section-container {
  padding: 5rem 0.5rem;
  max-width: 1300px;
  margin: 0 auto;
}

.text-title {
  font-weight: 700;
  font-family: var(--font-family-proxima);
}

.text-muted {
  color: #ccc;
}

.card-image {
  object-fit: cover;
}

.font-proxima {
  font-family: var(--font-family-proxima);
}

.center-text {
  text-align: center;
}

